<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/putri">putri</a>
        <h1>Jadi nama aku itu <br>Putri Dewi Kharisma</h1>
        <h2>Aku kuliah di Universitas Islam Madura guys</h2>
        <h3>Prodi aku kedengeran keren loh "Teknik Informatika" <br>emang keren buat yg belom kenal ke makulnya itu kek apa <br>tapi yang udah tau pasti pahamlah kek apa. <br>Hehehe</h3>
    </ul>

    
    
</body>
</html>